.wrapper {
  width: 100%;
  height: 400px;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  .footer {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    .left {
      width: 40%;
      height: 100%;

      padding: 10px;
      .image-logo {
        width: 70%;
        height: 50%;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .ul {
        padding: 20px 40px 20px 20px;
        font-size: 20px;
        .li {
          list-style: none;
          color: #fab42f;
        }
        .li-social {
          margin-top: 10px;
          display: flex;
          justify-content: space-around;
          list-style: none;
          color: #fab42f;
          .social {
            cursor: pointer;
            padding: 10px;
            border: 1px solid #fab42f;
            border-radius: 50%;
          }
        }
      }
    }
    .mid {
      width: 100%;
      height: 100%;

      padding: 10px 40px 10px;
      ul {
        list-style: none;
      }
      .title {
        color: #fab42f;
      }
      .address {
        color: white;
        font-weight: 600;
      }
      .phone {
        color: white;
        font-weight: 600;
      }
    }
    .right {
      width: 100%;
      height: 100%;
      padding: 10px;

      .map {
        width: 100%;
        height: 100%;
      }
    }
  }
  .copy-right {
    width: 100%;
    height: 20%;
    background-color: #a08250;
  }
}
